<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafa Washing Powders and Liqude</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./contact.css">
</head>
<body>
    <header>
        <h1>NAFA </h1>
        <h3>GROUP</h3>
    </header>
<div class="main-contaner">
    
        <a href="https://maps.app.goo.gl/ox2c7VW2x3RBd5tv6">Location</a>
        <a href="https://www.indiamart.com/nafa-group/?srsltid=AfmBOopUCGRS6iA5eBUqAsffCY2s4Hgw23huvw-xXGff0a5XEJz2TnmT">Distrbution</a>
        <a href="./contact.html">Contact</a>
        <a href="./index.html">About</a>
    
        
</div>
<div class="contact-contaner">
    
    <h1>Dail: +91-9995523455</h1><br><br>

    <h2>or</h2>

    <a href="tel:9995523455">
        <img src="./Images/call.png" alt="">
    </a>
    <br>
    <h2>or</h2>
    <a href="https://wa.me/+919995523455/?text=Hi">
        <img src="./Images/watsapp.png" alt="">
    </a>
    <br>
    <br>
</div>
</body>
</html>