<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Nafa Washing Powders and Liqiud</title>
    <link rel="stylesheet"  href="./style.css">
</head>
<body>
    <header>
        <h1>NAFA </h1>
        <h3>GROUP</h3>
    </header>
<div class="main-contaner">
    
        <a href="https://maps.app.goo.gl/ox2c7VW2x3RBd5tv6">Location</a>
        <a href="https://www.indiamart.com/nafa-group/?srsltid=AfmBOopUCGRS6iA5eBUqAsffCY2s4Hgw23huvw-xXGff0a5XEJz2TnmT">Distrbution</a>
        <a href="./contact.html">Contact</a>
        <a href="./index.html">About</a>
    
        
</div>
<div class="info-contaner">
    <div class="image-loader">
        <img class="img1" src="./Images/unnamed.jpg" alt="loding">
        <img class="img2" src="./Images/unnamed (1).jpg" alt="loding">
        <img class="img3" src="./Images/unnamed (2).jpg" alt="loding">
        <img class="img4" src="./Images/unnamed (3).jpg" alt="loding">
    </div>
    <div class="about-contaner">
        <h3>About Nafa Group Company</h3>
        <p>Nafa Group Company is a leading manufacturer and supplier of high-quality Washing meterial,specializing in washing powder,liqiud and hand-wash.
            <br>Established in 0000, the company has built a solid reputation for its commitment to excellence, innovation, and sustainability in the market 
            Based in
            <br>Keral.        
        </p>
        <p>
            Industry: <ol>
                <li>Soap</li>
                <li>Claening Compound</li>
                <li>Toilet Preparation Manufacturing</li>
                <li>Chemical Manufacturing</li>
            </ol>
        </p>
        <p>Address:
            NO.270\IN WARD 14 OLD NO.365\A IN WARD 1,KUNNUMMAL HOUSE
            <br>
            THOTTEKKAD,PULPATTA
            <br>
            Malappuram,Kerala,676123India
        </p>
        <br>
        <br>
        <footer>All Rights Received @ Nafa Group</footer>
    </div>
</div>

</body>
</html>